<%- include('../partials/header') %>

  <form action="/" method="post">
    <label for="category">Choose a category</label><br>
    <select id="category" name="categorylist" size="8" autofocus>
      <option value="<%=choices[0] %>" selected><%=choices[0] %></option>
      <% for (let i = 1; i < choices.length; i++) { %>
        <option value="<%=choices[i] %>"><%=choices[i] %></option>
      <% } %>
    </select><br>
    <button type="submit">Select</button>
  </form>
  <script src="js/client.js" ></script>
</body>
</html>




