<%- include('../partials/header') %>

<link rel="stylesheet" href="css/select.css">
</head>
<body>
<a href="/">Home</a>


<form action="/select" method="post">
  <div class="player-group">
    <span>Select number of players:</span>
    <label for="1">1</label>
    <input type="radio" id="1" name="players" value="1" checked>
    <label for="2">2</label>
    <input type="radio" id="2" name="players" value="2">
    <label for="3">3</label>
    <input type="radio" id="3" name="players" value="3">
    <label for="4">4</label>
    <input type="radio" id="4" name="players" value="4">
    <label for="5">5</label>
    <input type="radio" id="5" name="players" value="5">
    <label for="6">6</label>
    <input type="radio" id="players" name="players" value="6">
  </div>
  <h1>Select from a minimum of 2 to 10 items.</h1>
  <% for(let i=0; i<imageArray.length; i++) { %>
      <% let [imgName, ,] = imageArray[i].split('.'); %>
      <div class="form-img-box">
        <label class="img-label" for=<%= imgName %>>
          <img class="select-img" src="images/<%= category %>/<%= imageArray[i] %>" alt=<%= imgName %>>
        </label>
        <input type="checkbox" name=<%= category %> value=<%= imageArray[i] %> id=<%= imgName %> />
      </div>
    <% } %>
    <br>
    <input class="button" type="submit" value="Submit Choices">
  </form>
</body>
</html>
